# Python
backend/venv/
__pycache__/
*.pyc
storage/

# React
frontend/node_modules/
frontend/dist/

# Logs
logs
*.log

# Environment files
.env

# VS Code
.vscode/
!.vscode/extensions.json

# IDE
.idea

# OS
.DS_Store